img {
    width: 2000px;
    border-radius: 50px;
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    color :rgb(146, 146, 241);
}
a:hover{
    color: aqua;
}
a{
    color:gold ;
}