img {
    width: 1250px;
    border-radius: 50px;
    display: block;
    margin: auto;
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    color :rgb(146, 146, 241);
}
a:hover{
    color: aqua;
}
a{
    color:gold ;
}
button{
    border-color:navy ;
    background-color:antiquewhite;
    box-shadow: 0px 4px 15px white;
    transition: all 0.5s ease-in-out;
     width: 150px;
}
button:hover{
    border-color:navy ;
    background-color:antiquewhite;
    box-shadow: 0px 4px 50px orange;
}